@font-face {
  font-family: "iconfont";
  src        : url('iconfont.ttf')
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */

}

.iconfont {
  font-family: "iconfont" !important;
  font-size  : 16px;
  font-style : normal;
}

.icon-bofang:before {
  content: "\e61d";
}

.icon-zanting:before {
  content: "\e6af";
}

.icon-huifu:before {
  content: "\e677";
}

.icon-kong:before {
  content: "\e64b";
}

.icon-tupian:before {
  content: "\e626";
}

.icon-xiazai:before {
  content: "\e646";
}

.icon-kaishi:before {
  content: "\e671";
}

.icon-zantingtingzhi:before {
  content: "\e600";
}

.icon-wo:before {
  content: "\e679";
}

.icon-guanyu:before {
  content: "\e676";
}

.icon-meinv:before {
  content: "\e716";
}

.icon-erciyuan:before {
  content: "\e601";
}

.icon-remen:before {
  content: "\e6b2";
}

.icon-zuixiaohua:before {
  content: "\e629";
}

.icon-guanbi:before {
  content: "\e602";
}

.icon-shoucang:before {
  content: "\e621";
}

.icon-collection-b:before {
  content: "\e60e";
}

.icon-directionscar:before {
  content: "\e665";
}

.icon-tuichuquanping:before {
  content: "\e637";
}

.icon-quanping:before {
  content: "\e655";
}

.icon-tool:before {
  content: "\e61e";
}

.icon-language:before {
  content: "\e60d";
}

.icon-quanxian:before {
  content: "\e7ae";
}